# Optional overrides for llmproxy.yaml
# PORT=9000 # Override 'host' in llmproxy.yaml
# HOST=0.0.0.0 # Override 'port' in llmproxy.yaml

# OpenAI API Configuration
OPENAI_API_KEY=sk-123
OPENAI_API_BASE=http://localhost:8000/v1
# Logs Directory (where request payloads will be saved)
LOGS_DIR=./logs
